<!-- djangotemplates/example/templates/index.html-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome Home</title>

</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="topnav">
<h3>Search into StackOverFLow | For Teamwave</h3>
    <form type="get" action="." accept-charset="utf-8">
        <input type="search" id="q" name="q" placeholder="Search..."/>
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    
</div>
{{js}}
</body>
</html>
